@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto&display=swap');

$textMain: 'Roboto', sans-serif;
$textSecondary: 'Parisienne', cursiva;

$textUno: 3em;
$textDos: 1.5em;